{% extends 'base.html' %}

{% block js %}
<script type="text/javascript" src="/media/scripts/sha1.js" ></script>
<script type="text/javascript" src="/media/scripts/oauth.js" ></script>
<script type="text/javascript" src="/media/scripts/core.js" ></script>
<script type="text/javascript" src="/media/scripts/utils.js" ></script>
<script type="text/javascript" src="/media/scripts/client.js" ></script>
<script type="text/javascript" src="/media/scripts/parser.js" ></script>
<script type="text/javascript" src="/media/scripts/user.js" ></script>
<script type="text/javascript" src="/media/scripts/jquery_handler.js" ></script>
{% endblock %}
